<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2>Edit User</h2>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ user['username'] }}" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Save Changes</button>
    </form>
    <a href="{{ url_for('admin_panel') }}">Back to Admin Panel</a>
</body>
</html>
